body {
  margin: 0 auto;
  background-color: bisque;
}
header {
  text-align: center;
  background-color: red;
  padding-top: 20px;
  padding-bottom: 10px;
}
.container {
  margin: 0 auto;
  width: 800px;
}
.race-info {
  text-align: center;
  padding-top: 20px;
}
.basic-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
}

.race-shirt-info {
  border: none;
}
.payment-methods {
  border: none;
}
input,
select {
  margin-bottom: 10px;
}
legend {
  font-size: 25px;

  margin-bottom: 15px;
}
h1 {
  font-size: 40px;
}
